# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database URL (local development example)
DATABASE_URL="postgresql://user:password@localhost:5432/database_name?schema=public"

# Security
JWT_SECRET="your-secret-key-here"

# Email (Resend)
# Sign up at https://resend.com and get your API key
RESEND_API_KEY="your-resend-api-key"

# For testing, you can use the default Resend domain
EMAIL_FROM="your-email@example.com"

PREVIEW_MODE=true 